{% load static %}

<a id="privacy_policies"></a>

<!-- Titlebar ================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Privacy Policies</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Others</a></li>
						<li>Privacy Policies</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="contact-location-info margin-bottom-50">
				<div class="contact-address">
					<ul>
                        <li>
                            Our business policy is to charge monthly or yearly fee from job recruiter only.
                            We are not responsible for any financial transaction other than this.
                            So any kind of information or money you are investing here, it's totally up to you.
                            Hope our user will be sensible enough to make the most of the community and help us to grow more quickly.
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container / End -->