{% load static %}

<a id="contact"></a>

<!-- Titlebar ================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Contact</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Others</a></li>
						<li>Contact</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="contact-location-info margin-bottom-50">
				<div class="contact-address">
					<ul>
                        <li>
                            We are here to make a common platform for job recruiter, candidate, and freelancer.
                            If any unethical activities can be noticed,
                            or want to enquiry something,
                            or give some suggestions, please feel free to contact.
                            Our major concern is to make sure the growth of productivity for the sake of our user.
                        </li>
						<li>&#128222; 01843083677</li>
                        <li>&#9993; nishan.paul.hello@gmail.com</li>
					</ul>
				</div>

				<div id="single-job-map-container">
					<div id="singleListingMap" data-latitude="37.777842" data-longitude="-122.391805" data-map-icon="im im-icon-Hamburger"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container / End -->