{% load static %}

<!-- Dashboard Sidebar ================================================== -->
<div class="dashboard-sidebar">
    <div class="dashboard-sidebar-inner" data-simplebar="">
        <div class="dashboard-nav-container">

            <!-- Responsive Navigation Trigger -->
            <a href="#" class="dashboard-responsive-nav-trigger">
                <span class="hamburger hamburger--collapse">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
                <span class="trigger-title">Dashboard Navigation</span>
            </a>

            <!-- Navigation -->
            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">
                    <ul data-submenu-title="Dashboard">
                        <li class="active"><a href="dashboard_user_record"><i class="icon-material-outline-dashboard"></i> User Record</a></li>
                        <li><a href="dashboard_messages"><i class="icon-material-outline-question-answer"></i> Messages <span class="nav-tag">2</span></a></li>
                        <li><a href="dashboard_bookmarks"><i class="icon-material-outline-star-border"></i> Bookmarks</a></li>
                        <li><a href="dashboard_reviews"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
                    </ul>

                    <ul data-submenu-title="Account">
                        <li><a href="account_settings"><i class="icon-material-outline-settings"></i> Settings</a></li>
                        <li><a href="urls_logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- Navigation / End -->


        </div>
    </div>
</div>
<!-- Dashboard Sidebar / End -->