{% include "_header.html" %}

{% load static %}

<!-- Dashboard Container -->
<div class="dashboard-container">

    <!-- Dashboard Sidebar -->
    {% include "_sidebar_dashboard.html" %}

	<!-- Dashboard Content ================================================== -->
	<div class="dashboard-content-container" data-simplebar="">
		<div class="dashboard-content-inner">
			
			<!-- Dashboard Headline -->
			{% include "_headline.html" %}
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
                {% include "_account_settings_my_account.html" %}
                {% include "_account_settings_my_profile.html" %}
                {% include "_account_settings_password_and_security.html" %}

				<!-- Button -->
				<div class="col-xl-12">
					<a href="#" class="button ripple-effect big margin-top-30">Save Changes</a>
				</div>

			</div>
			<!-- Row / End -->

            {% include "_footer2b.html" %}

        </div>
        <!-- Content-inner / End -->
    </div>
    <!-- Content / End -->
</div>
<!-- Container / End -->

{% include "_footer2a.html" %}